
.right-side{
    display: inline-block;
    vertical-align: top;
}
.login-button{
    float: right;
    padding: 15px;
    margin: 20px;
    border: 0;
    border-radius: 3px;
    background-color: #529179;
    color: white;
  
  }
  #saved-banner{
      color: #529179;
      font-size: 25px;
      text-align: center;
      position: fixed;
      margin-top: 2%;
      display: none;
  }
  @media(max-width: 1079px){
      .login-button{
          margin: 0;
          padding: 5px;
      }
  }