
.corner-box{
    text-align: center;
    top: 0;
    left: 0;
    background-color: #529179;
    min-width: 100%;
    min-height: 8vh;
    color: white;
}
.mobile-menu{
    cursor: pointer;
    padding: 10px 10px;
    float: left;
    width: 25px;
}
.book-header{
    margin-left: 10%;
}
.subheader{
    margin-left: 10%;
}
.item{
    color:#529179;
    margin-left: 10%; 
    cursor: pointer;
}

.clear-filters{
    cursor: pointer;
    color: #b2b2b2;
    font-size: 11px;
    margin-left: 10%;
}
@media(max-width: 1100px){
    #hide-if-mobile{
    top: 0;
    display: none;
    position: absolute;
    background-color: white;
    width: 80vw;
    border: 2px solid black;
    padding: 10px;
    z-index: 5;
    animation-name: slideOut;
    animation-duration: .5s;
    }
    .corner-box{
        padding: 0;
        top: 0;
        left: 0;
    }
    .corner-state-text{
        display: inline-block;
        margin: 0;
        padding: 20px 0;
    }
    @keyframes slideOut{
        from{transform: translate(-200px)}
        to{transform: translate(0)}
    }
    @keyframes slideIn{
        from{transform: translate(0)}
        to{transform: translate(-300px)}
    }
}

@media screen and (min-width: 1101px){
#hide-if-mobile{
    display: inline-block;
}
.menu-box{
    display: inline-block;
    min-width: 10vw;
    padding-right: 20px;
}
.corner-box{
    text-align: center;
    padding: 20px 15px 20px 5px;
    top: 0;
    left: 0;
    background-color: #529179;
    min-width: 100%;
    color: white;

}
.corner-state-text{
    padding: 10px 5px;
    margin-top:0;
    margin-bottom: 0;
    font-family: 'Baloo Paaji', cursive;
    font-size: 25px;
}
.mobile-menu{
    display: none;
}
}