.hide-if-mobile{
    display: none;
}
.corner-box{
    text-align: center;
    padding: 20px 15px 20px 5px;
    top: 0;
    left: 0;
    background-color: #529179;
    min-width: 100%;
    min-height: 8vh;
    color: white;
}
@media screen and (min-width: 1080px){
.hide-if-mobile{
    display: inline-block;
}
.menu-box{
    display: inline-block;
    min-width: 10vw;
    padding-right: 20px;
}
.corner-box{
    text-align: center;
    top: 0;
    left: 0;
    background-color: #529179;
    min-width: 100%;
    color: white;

}
.corner-state-text{
    padding: 10px 5px;
    margin-top:0;
    margin-bottom: 0;
    font-family: 'Baloo Paaji', cursive;
    font-size: 25px;
}
.book-header{
    margin-left: 10%;
}
.subheader{
    margin-left: 10%;
}
.item{
    color:#529179;
    margin-left: 10%; 
    cursor: pointer;
}

.clear-filters{
    cursor: pointer;
    color: #b2b2b2;
    font-size: 11px;
    margin-left: 10%;
}
}