@media screen and (max-width: 1079px){
#searchWrap{
    width: 100vw;
    margin: auto;
}
.search-input{
    margin-top: 4vh;
    display: block;
    margin: auto;
    position: relative;
    min-width: 35vw;
    background-color: #f2f2f2;
    outline: none;
    border: 0;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    z-index: 2
}
.unread-read{
    margin-left: 5vw;
    color: #529179;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}
.down-arrow{
    color: black;
    font-size: 20px;
    text-decoration: none !important;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
}

}
@media screen and (min-width: 1080px){
.search-input{
    margin-top: 4vh;
    margin-left: 5vw;
    position: relative;
    min-width: 35vw;
    background-color: #f2f2f2;
    outline: none;
    border: 0;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    z-index: 2
}
.unread-read{
    margin-left: 5vw;
    color: #529179;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}
.down-arrow{
    color: black;
    font-size: 20px;
    text-decoration: none !important;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
}

.search-on{
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(0,0,0,.5);
}

}