
.no-books{
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    padding: 100px;
    text-align: center;
    color: #333;
    margin: 5%;
    border-radius: 5px;
    font-style: "Trebuchet MS";
}

@media screen and (max-width: 1100px){
    .no-books{
        position: relative;
        width: 60vw;
        margin: auto;
    }
    .mybook-box{
        margin-top: 5%;
        display: block;
        margin-left: 10%;
        width: 80vw;
    }
    
    .mybook-child-box{
        min-width:300px;
        margin: 40px;
        padding: 10px;
        margin-top: 5%;
        display: block;
        margin: auto;
        border-left: 2px solid #f2f2f2;
        border-right: 2px solid #f2f2f2;
        border-bottom: 4px solid #f2f2f2;
        animation-name: slideUp;
        animation-duration: .5s;
    }
    
    .my-image{
        display: block;
        margin: auto;
        width: 25%;
    }
    
    .organized-by{
        margin: 5px;
        font-weight: normal;
        display: inline-block;
        font-size: 15px;
    }

    .not-listed-organized-by{
        color: grey;
        margin: 5px;
        display: inline-block;
        font-size: 15px;
    }
    .listed-organized-by{
        color: #529179;
        margin: 5px;
        display: inline-block;
        font-size: 15px;
    }

    .my-book-info{
        vertical-align: top;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .mark-button{
        cursor: pointer;
        background-color: #529179;
        padding: 10px 20px 10px 20px;
        color: white;
        font-size: 15px;
        display: block;
        margin: auto;
    }
    .marked{
        color: #b2b2b2;
        font-size: 13px;
    }
    .book-link{
        color: #529179;
        cursor: pointer;
        display: inline-block;
        margin-left: 5px;
    }
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        cursor: pointer;
      }
      .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
      }
      .rating > span:hover:before,
      .rating > span:hover ~ span:before{
         content: "\2605";
         position: absolute;
      }

      .hr-divider{
        width: 75%;
        border: 1px solid #f2f2f2;
    }
    .read-or-stars{
        margin: auto;
        text-align: center;
    }
    @keyframes slideUp{
        from{transform: translateY(100px)}
        to{transform: translateY(0)}
    }
    
}  

@media screen and (min-width: 1101px){
.mybook-box{
    margin-left: 5%;
    margin-top: 5%;
    width: 70vw;
   
}
.mybook-child-box{
    min-width:300px;
    padding: 10px;
    margin-top: 5%;
    border-left: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-bottom: 4px solid #f2f2f2;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.my-image{
    display: inline-block;
    width: 15%;
}
.my-book-info{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 25vw;
}
.organized-by{
    margin: 5px;
    font-weight: normal;
    display: inline-block;
    font-size: 15px;
}
.not-listed-organized-by{
    color: grey;
    margin: 5px;
    display: inline-block;
    font-size: 15px;
}
.listed-organized-by{
    color: #529179;
    margin: 5px;
    display: inline-block;
    font-size: 15px;
}
.author{
    margin: 5px;
    color: #606060;
}
.read-or-stars{
    display: inline-block;
    vertical-align: top;
    margin-top: 7%;
    margin-left: 23%;
    min-width: 125px;
}
.book-link{
    color: #529179;
    cursor: pointer;
    display: inline-block;
    padding-left: 3%;
}
.mark-button{
    cursor: pointer;
    background-color: #529179;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 15px;
}
#submitRate{
    width: 125px;
}
.hr-divider{
    border: 1px solid #f2f2f2;
}
.marked{
    color: #b2b2b2;
    font-size: 13px;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    cursor: pointer;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:active{
    animation-name: selectStar;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }

  @keyframes slideIn{
      from{transform: translate(-200px)}
      to{transform: translate(0px)}
  }
}
    @keyframes selectStar {
        from{transform: scale(1)}
        to{transform: scale(3)}
    }